.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #212529;
  color: #f8f9fa;
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-item {
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.header-item:nth-child(1),
.header-item:nth-child(2),
.header-item:nth-child(3) {
  margin-right: 40px;
}
